h1 {
  font-family: "Gill Sans", sans-serif;
  text-align: center;
}

img {
  display: block ;
  margin-left: auto;
  margin-right: auto;
}

input {
  font-family: "Gill Sans", sans-serif;
  text-align: center;
}

label {
  font-family: "Gill Sans", sans-serif;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}