body {
  background-color: rgb(230, 164, 164);
  padding: 50px;
}

table {
  border-collapse: collapse;
  border: 1px solid;
}

th {
  font-family: "Trebuchet MS", sans-serif;
  border: 1px solid;
  padding: 5px;
}

td {
  font-family: "Trebuchet MS", sans-serif;
  border: 1px solid;
  padding: 5px;
}

thead {
  background-color: rgb(255, 160, 176);
}

tbody {
  text-align:center
}

button {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 15px;
  background-color: rgb(255, 160, 176);

  border-radius: 5px;
  border: 1px solid black;
  width: 40%;
  height: 20px;
}

input {
  font-family: "Trebuchet MS", sans-serif;
}

.chart_h1 {
  font-family: "Trebuchet MS", sans-serif;
  text-align: center;
}

.chart_img {
  display: block ;
  margin-left: auto;
  margin-right: auto;
}

.chart_input {
  font-family: "Trebuchet MS", sans-serif;
  text-align: center;

  font-size: 16px;
}

.chart_label {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 16px;
}

.horizontal_container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 5px;
  margin: 5%;
}

.centered_horizontal_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1%;
}

.chart_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
}

.content {
  display: flex;
  gap: 50px;
}

.left {
  flex: 1;
  background-color: pink;
  border-radius: 10px;
  padding: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right {
  flex: 2;
  background-color: pink;
  border-radius: 10px;
  padding: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.del-btn {
  background: url("/static/trashcan.svg") center/contain no-repeat;
  background-color: red;
  color: red;
}