<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <Title>
        PlotChart
    </Title>
</head>
<body>
    <h1 class="chart_h1">
        Chart
    </h1>

    <div class="left_split_div">
        <div class="chart_input_container">
            <form action="/chart_post" method="POST">
                <label for="input" class="chart_label">y = </label>
                <input type="text" name="input" placeholder="x + 5" class="chart_input">
                <button class="draw_chart_button">Draw</button>
            </form>
        </div>
    </div>

    <div class="right_split_div">
        
        <img src="static/chart.png" class="chart_img">
    </div>
</body>